/** @format */

/* ******************* */
/* Lightbox Planta */
/* ******************* */

/* focus - efecto pulsar */
@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(233, 181, 76, 0.993),
      0 0 0 0 rgba(233, 181, 76, 0.593);
  }
  40% {
    box-shadow: 0 0 0 35px rgba(233, 181, 76, 0.063),
      0 0 0 0 rgba(233, 181, 76, 0.963);
  }
  80% {
    box-shadow: 0 0 0 35px rgba(233, 181, 76, 0.043),
      0 0 0 15px rgba(233, 181, 76, 0.043);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(233, 181, 76, 0.013),
      0 0 0 15px rgba(233, 181, 76, 0.013);
  }
}

/* focus - proyecto */
.profocus {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--color-principal);
  cursor: pointer;
  z-index: 3;
  animation: animate 5s linear infinite;
}

.plantas {
  top: 57%;
  left: 17%;
}

/* ******************* */
/* focus - modal de fotos planta */
.plafocus {
  position: absolute;
  top: 53%;
  left: 72%;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--color-principal);
  cursor: pointer;
  z-index: 3;
  animation: animate 5s linear infinite;
}

.recamara {
  top: 50%;
  left: 22%;
}

.recamaraJr {
  top: 49%;
  left: 46%;
}

.recamaraInd {
  top: 25%;
  left: 34%;
}

.cocina {
  top: 27%;
  left: 78%;
}

.baño {
  top: 23%;
  left: 10%;
}

/* ******************* */
/* focus - modal and overlay */
.modal_close {
  display: none;
}

.focus_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.981);
}

.focus_overlay .close {
  position: absolute;
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 90%;
  top: 5%;
  font-size: 3.6rem;
  color: #e9b44c;
  cursor: pointer;
  z-index: 9999;
}

.focus_overlay .focus_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: auto;
  max-height: 80vh;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}

.focus_modal img {
  width: 100%;
  height: auto;
}
