/** @format */

/* ******************* */
/* Focus, Overlay & Slide */
/* ******************* */

/* focus - modal de fotos proyecto */
.profocus {
  position: absolute;
  top: calc(52%);
  left: calc(47%);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--color-principal);
  cursor: pointer;
  z-index: 3;
  animation: animate 5s linear infinite;
}

.profocus_1 {
  top: calc(47%);
  left: calc(18%);
  background-color: var(--color-principal);
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(233, 181, 76, 0.793),
      0 0 0 0 rgba(233, 181, 76, 0.793);
  }
  40% {
    box-shadow: 0 0 0 30px rgba(233, 181, 76, 0.063),
      0 0 0 0 rgba(233, 181, 76, 0.093);
  }
  80% {
    box-shadow: 0 0 0 30px rgba(233, 181, 76, 0.063),
      0 0 0 15px rgba(233, 181, 76, 0.093);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(233, 181, 76, 0.043),
      0 0 0 15px rgba(233, 181, 76, 0.043);
  }
}

/* ******************* */
/* focus - modal de fotos planta */
.plafocus {
  position: absolute;
  top: 58%;
  left: 71%;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--color-principal);
  cursor: pointer;
  z-index: 3;
  animation: animate 5s linear infinite;
}

.plafocus_1 {
  top: 26%;
  left: 74%;
}

.plafocus_2 {
  top: 47%;
  left: 15%;
}

.plafocus_3 {
  top: 50%;
  left: 46%;
}

.plafocus_4 {
  top: 23%;
  left: 33%;
}

.plafocus_5 {
  top: 85%;
  left: 28%;
}

/* ******************* */
/* focus - modal and overlay */
.modal_close {
  display: none;
}

.focus_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(17, 17, 17, 0.691);
}

.focus_overlay .close {
  position: absolute;
  left: 90%;
  top: 8%;
  font-size: 3.6rem;
  font-weight: 500;
  color: #e9b44c;
  cursor: pointer;
}

.focus_overlay .focus_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 80vw;
  height: 80vh;
  z-index: 10010;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.75);
}

.focus_modal p {
  font-size: 2.6rem;
  color: crimson;
  padding: 4rem;
  text-align: center;
}
