/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Nixie+One&display=swap");

/* ******************* */
/* Clases globales */
/* ******************* */

:root {
  --color-principal: #e9b44c;
  --color-secundario: #444444;
  --color-bgc-principal: #232526;
  --color-bgc-secundario: #e5e2e2;
  --color-textos: #333333;
}

/* ******************* */
/* Galería */
/* ******************* */
.galeria {
  background-color: var(--color-bgc-secundario);
  padding-bottom: 8rem;
}

.galeria h1 {
  color: var(--color-secundario);
  position: relative;
}

.galeria h1::after {
  content: "";
  border-bottom: solid 1px var(--color-secundario);
  width: 20%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

#galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 85vw;
  min-width: 40rem;
  padding: 0 1rem;
  margin: auto;
  z-index: 10000;
  align-items: center;
}

#galery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}

/* Contenedor Principal */
#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.891);
}

#contenedor-interno {
  width: 80vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: relative;
  border-radius: 4px;
}

#img-activa {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

/* Botones */
button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f2f2f2;
  font-weight: 300;
}

#btn-cierra {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  font-size: 3.6rem;
  color: #e9b44c;
  font-weight: 400;
  z-index: 9999;
}

#btn-retrocede,
#btn-adelanta {
  position: absolute;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.562);
  transform: translate(0, -50%);
  z-index: 999;
}

button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-retrocede {
  top: 50%;
  left: 1rem;
}

#btn-adelanta {
  top: 50%;
  right: 1rem;
}

/* ******************* */
/* Sección Avance de Obra */
/* ******************* */
.avance {
  background-color: var(--color-bgc-principal);
  padding-bottom: 8rem;
}

.avance h1 {
  color: var(--color-principal);
  position: relative;
}

.avance h1::after {
  content: "";
  border-bottom: solid 1px var(--color-principal);
  width: 20%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.avance h2 {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-bgc-secundario);
  margin: 2rem 0 1.6rem 0;
}

.avance .mb-2 {
  margin-bottom: 2rem;
}
