/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Nixie+One&display=swap");

/* ******************* */
/* Index */
/* ******************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;
  min-height: 49rem;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 30rem;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
}

.logo {
  width: 18rem;
  height: 6rem;
  margin-right: 2.5rem;
}

.showcase .logo_img {
  position: relative;
  width: 18rem;
  height: 6rem;
  object-fit: contain;
}

.nav_menu {
  display: flex;
  margin: 1.8rem 0 1.8rem auto;
}

.nav_menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav_menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease;
}

.nav_menu ul li a:hover {
  color: #e9b44c;
}

.nav_menu ul li a.menu-link_contacto {
  color: #e9b44c;
  font-weight: 600;
}

.btn_menu {
  display: none;
}

.btn_menu.active {
  background: url("/img/close.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: center;
  cursor: pointer;
}

.showcase img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(8, 65, 92, 0.208) 0%,
    rgba(28, 17, 10, 0.208) 100%
  );
  mix-blend-mode: overlay;
}

.active_overlay {
  z-index: 11;
  background-color: rgba(17, 17, 17, 0.461);
}

.text {
  position: absolute;
  z-index: 10;
  /* background-color: rgba(8, 65, 92, 0.226); */
  padding: 3rem 1.5rem;
  transition: all 0.3s ease-in-out;
}

.text h2 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 5rem;
  text-transform: uppercase;
}

.text h3 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #e9b44c;
}

.text p {
  letter-spacing: 0.75px;
  font-size: 1.2rem;
  margin: 2rem 0;
  font-weight: 400;
  max-width: 55rem;
  line-height: 1.6;
}

.text a {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  color: #333;
  color: #fff;
  width: 19rem;
  height: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  /* background-color: #e9b44c; */
  border: #e9b44c 0.5px solid;
  overflow: hidden;
}

.text a::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 100%;
  border-bottom: 4rem solid rgba(255, 255, 255, 0.297);
  border-right: 4rem solid transparent;
  transition: all 0.5s ease-in-out;
}

.text a:hover::after {
  right: calc(-100% - 4rem);
}

.text a span {
  position: relative;
  z-index: 2;

  /* transition: 0.3s ease all; */
}

.social {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 9999;
  padding: 1.5rem;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  transition: 0.3s;
  cursor: pointer;
}

.ion_icon {
  width: 2.6rem;
  height: 2.6rem;
  fill: #fff;
}

.social li a:hover {
  transform: translateY(-5px);
}

.social li a .youtube {
  fill: crimson;
}

.social li a .instagram {
  fill: darkmagenta;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  min-height: 49rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 2.6rem;
  color: #e9b44c;
}

.menu ul li a:hover {
  color: #fff;
}

.menu ul li a.menu-link_contacto {
  color: #fff;
}

/* ******************* */
/* Video y controles */
/* ******************* */

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.control_audio {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
  padding: 1.5rem;
}

.control_audio li {
  list-style: none;
  width: 2.6rem;
  height: 2.6rem;
  transition: all 0.3s ease;
}

.control_audio li:hover {
  transform: translateY(-3px);
}

.control_audio li .icon_audio {
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
}
