/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Nixie+One&display=swap");

/* ******************* */
/* Clases globales */
/* ******************* */

:root {
  --color-principal: #e9b44c;
  --color-secundario: #444444;
  --color-bgc-principal: #353535;
  --color-bgc-secundario: #e5e2e2;
  --color-textos: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}

/* ******************* */
/* Clase auxiliar para menú responsive */
/* ******************* */
.showBody {
  right: 0;
}

h1 {
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10rem 0;
}

section {
  min-width: 100vw;
  padding: 10rem 1rem 2rem 1rem;
  overflow-x: hidden;
}

/* ******************* */
/* Header - Nav */
/* ******************* */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
  background-color: rgba(53, 53, 53, 0.301);
}

.logo {
  width: 18rem;
  height: 6rem;
  margin-right: 2.5rem;
}

.header .logo_img {
  position: relative;
  width: 18rem;
  height: 6rem;
  object-fit: contain;
}

.nav_menu {
  display: flex;
  margin: 1.8rem 0 1.8rem auto;
}

.nav_menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav_menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: var(--color-bgc-secundario);
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease;
}

.nav_menu ul li a:hover {
  color: #e9b44c;
}

.nav_menu ul li a.menu-link_contacto {
  color: #e9b44c;
  font-weight: 600;
}

/* ******************* */
/* Menú responsive */
/* ******************* */
.btn_menu {
  display: none;
}

.btn_menu.active {
  background: url("/img/close.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: center;
  cursor: pointer;

  position: absolute;
  right: 30rem;
  z-index: 9999;
}

.menu {
  position: fixed;
  top: 0;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;

  display: none;
}

.active {
  display: flex;
  right: 0;
  overflow: hidden;
  z-index: 9999;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li {
  margin: 1rem 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 2.6rem;
  color: #e9b44c;
}

.menu ul li a:hover {
  color: #fff;
}

.menu ul li a.menu-link_contacto {
  color: #fff;
}

/* ******************* */
/* Overlay - Menú responsive */
/* ******************* */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  mix-blend-mode: overlay;
  display: none;
}

.active_overlay {
  display: flex;
  z-index: 11;
  background-color: rgba(17, 17, 17, 0.461);
}

/* ******************* */
/* Sección Proyecto */
/* ******************* */
.proyecto {
  background-color: var(--color-bgc-principal);
  padding-bottom: 4rem;
}

.proyecto h1 {
  color: var(--color-principal);
  position: relative;
}

.proyecto h1::after {
  content: "";
  border-bottom: solid 1px var(--color-principal);
  width: 20%;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
}

.proyecto_img {
  width: 85vw;
  margin: 3rem auto;
  z-index: 2;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.proyecto_img img {
  width: 100%;
  height: 100%;
}

.proyecto__contenedor_img {
  display: flex;
}

.proyecto_descripcion {
  width: 85vw;
  margin: auto;
  padding: 2rem 0 4rem 0;
  color: var(--color-bgc-secundario);
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
}

/* ******************* */
/* Sección Amenidades */
/* ******************* */
.amenidades {
  background-color: var(--color-bgc-secundario);
  padding-bottom: 4rem;
}

.amenidades h1 {
  color: var(--color-secundario);
  position: relative;
}

.amenidades h1::after {
  content: "";
  border-bottom: solid 1px var(--color-secundario);
  width: 20%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.amenidades__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

.amenidades__container ul li {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
}

.amenidades__container ul li span img {
  width: 3.6rem;
  height: 3.6rem;
}

.amenidades__container ul li p {
  color: var(--color-bgc-principal);
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 2.1;
}

/* ******************* */
/* Sección Planta */
/* ******************* */
.planta {
  background-color: var(--color-bgc-principal);
  padding-bottom: 4rem;
}

.planta h1 {
  color: var(--color-principal);
  position: relative;
}

.planta h1::after {
  content: "";
  border-bottom: solid 1px var(--color-principal);
  width: 20%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.container__planta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 7rem 0;
  gap: 1rem;
}

.planta_img {
  width: 60%;
  position: relative;
}

.planta_img img {
  width: 100%;
}

.planta_descripcion {
  color: var(--color-bgc-secundario);
  width: 40%;
  margin: 0 2rem 0 0;
}

.planta_descripcion h3 {
  font-size: 2.6rem;
  margin-bottom: 4rem;
}

.planta_descripcion ul {
  list-style: none;
}

.planta_descripcion ul li span {
  font-size: 2.1rem;
  color: var(--color-principal);
}

.planta_descripcion ul li {
  font-size: 1.8rem;
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
