/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Nixie+One&display=swap");

/* ******************* */
/* Clases globales */
/* ******************* */

:root {
  --color-principal: #e9b44c;
  --color-secundario: #444444;
  --color-bgc-principal: #232526;
  --color-bgc-secundario: #e5e2e2;
  --color-textos: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  transition: 0.5s all ease;
}

/* ******************* */
/* Clase auxiliar para menú responsive */
/* ******************* */
.show {
  right: 0;
  transition: 0.3s all;
}

.show.showBody {
  right: 30rem;
}

h1 {
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10rem 0;
}

section {
  min-width: 100vw;
  padding: 10rem 1rem 2rem 1rem;
  overflow-x: hidden;
}

/* ******************* */
/* Header - Nav */
/* ******************* */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(35, 37, 38, 0.601);
  transition: 0.5s all;

  backdrop-filter: blur(0.5rem);
}

.logo {
  width: 18rem;
  height: 6rem;
  margin-right: 2.5rem;
}

.header .logo_img {
  position: relative;
  width: 18rem;
  height: 6rem;
  object-fit: contain;
}

.nav_menu {
  display: flex;
  margin: 1.8rem 0 1.8rem auto;
}

.nav_menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav_menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: var(--color-bgc-secundario);
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease;
}

.nav_menu ul li a:hover {
  color: #e9b44c;
}

.nav_menu ul li a.menu-link_contacto {
  color: #e9b44c;
  font-weight: 600;
}

/* ******************* */
/* Menú responsive */
/* ******************* */
.btn_menu {
  display: none;
}

.btn_menu.active {
  background: url("/img/close.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: center;
  cursor: pointer;

  position: absolute;
  right: 1.8rem;
  z-index: 9999;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;

  z-index: -1;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li {
  margin: 1rem 0;
}

.menu ul li a {
  text-decoration: none;
  font-size: 2.6rem;
  color: #e9b44c;
}

.menu ul li a:hover {
  color: #fff;
}

.menu ul li a.menu-link_contacto {
  color: #fff;
}

/* ******************* */
/* Overlay - Menú responsive */
/* ******************* */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  mix-blend-mode: overlay;
  display: none;
}

.active_overlay {
  display: flex;
  z-index: 11;
  background-color: rgba(17, 17, 17, 0.461);
}

/* ******************* */
/* Sección Proyecto */
/* ******************* */
.proyecto {
  background-color: var(--color-bgc-principal);
  background: url(/img/conchas.png) var(--color-bgc-principal);
  background-repeat: repeat;
  background-size: 460px;
  background-blend-mode: multiply;
  padding: 14rem 0 8rem 0;
}

.proyecto h1 {
  color: var(--color-principal);
  position: relative;
}

.proyecto h1::after {
  content: "";
  border-bottom: solid 1px var(--color-principal);
  width: 20%;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
}

.proyecto_img {
  width: 80vw;
  margin: 3rem auto;
  z-index: 2;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.proyecto_img img {
  width: 100%;
  height: 100%;
}

.proyecto__contenedor_img {
  display: flex;
}

.proyecto_descripcion {
  width: 80vw;
  margin: auto;
  padding: 2rem 0 4rem 0;
  color: var(--color-bgc-secundario);
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
}

/* ******************* */
/* Sección Amenidades */
/* ******************* */
.amenidades {
  background-color: var(--color-bgc-secundario);
  padding-bottom: 8rem;
}

.amenidades h1 {
  color: var(--color-secundario);
  position: relative;
}

.amenidades h1::after {
  content: "";
  border-bottom: solid 1px var(--color-secundario);
  width: 20%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.amenidades__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.amenidades__container ul li {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
}

.amenidades__container ul li span img {
  width: 3.6rem;
  height: 3.6rem;
}

.amenidades__container ul li p {
  color: var(--color-bgc-principal);
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 2.1;
}

/* ******************* */
/* Sección Planta */
/* ******************* */
.planta {
  background-color: var(--color-bgc-principal);
  background: url(/img/conchas.png) var(--color-bgc-principal);
  background-repeat: repeat;
  background-size: 460px;
  background-blend-mode: multiply;
  padding-bottom: 4rem;
}

.planta h1 {
  color: var(--color-principal);
  position: relative;
}

.planta h1::after {
  content: "";
  border-bottom: solid 1px var(--color-principal);
  width: 20%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.plantas {
  width: 100%;

  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
}

.plantas__prototipo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: 4.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-bgc-principal);
  background-color: var(--color-bgc-secundario);
  cursor: pointer;
}

.plantas__active {
  background-color: var(--color-principal);
  color: var(--color-bgc-principal);
}

.container__planta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 7rem 0 7rem 0;
  gap: 1rem;

  /* padding-top: 5rem; */
}

.planta_medidas {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.planta_medidas .size {
  font-size: 2.6rem;
  margin: 1rem;
  color: var(--color-principal);
}

.planta_medidas p {
  font-size: 2.1rem;
  color: var(--color-bgc-secundario);
}

.planta_medidas .m2 {
  font-size: 1.2rem;
}

.planta_img {
  width: 60%;
  position: relative;
}

.planta_img img {
  width: 100%;
}

.planta_descripcion {
  color: var(--color-bgc-secundario);
  width: 40%;
  margin: 0 2rem 0 0;
}

.planta_descripcion h2 {
  font-size: 3.6rem;
  color: var(--color-bgc-secundario);
  padding-bottom: 2rem;
}

.planta_descripcion ul {
  list-style: none;
  padding-bottom: 2rem;
}

.planta_descripcion ul li span {
  font-size: 2.1rem;
  color: var(--color-principal);
}

.planta_descripcion ul li {
  font-size: 1.8rem;
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

#roof {
  display: none;
}

.planta_precio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.planta_precio p {
  font-size: 2.6rem;
  color: var(--color-principal);
}

.planta_precio span {
  font-size: 2.1rem;
}

/* ******************* */
/* Footer */
/* ******************* */
.footer {
  width: 100vw;
  padding: 3rem 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  background-color: var(--color-bgc-secundario);
}

.footer h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 2rem 3rem 2rem;
}

/* ******************* */
/* Footer contacto */
/* ******************* */
.contacto {
  width: 30%;
}

.contacto ul {
  list-style: none;
}

.contacto ul li {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.contacto ul li a {
  text-decoration: none;
  color: var(--color-bgc-principal);
  padding: 1rem 2rem;
  border-radius: 4px;
}

.contacto ul li a:hover {
  background-color: var(--color-bgc-principal);
  color: var(--color-bgc-secundario);
}

.contacto ul li a .text_enlaces {
  margin-right: 0.5rem;
}

.domicilio_oficinas {
  padding: 1rem 2rem;
  /* margin-left: 2rem; */
}

/* ******************* */
/* Footer enlaces */
/* ******************* */
.enlaces {
  width: 30%;
}

.enlaces p {
  font-size: 1.6rem;
  padding: 0 0 0 2rem;
  color: var(--color-bgc-principal);
}

/* ******************* */
/* Footer redes sociales */
/* ******************* */
.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 2rem 2rem;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  transition: 0.3s;
  cursor: pointer;
}

.ion_icon {
  width: 2.6rem;
  height: 2.6rem;
  fill: #fff;
}

.facebook {
  width: 2.8rem;
  height: 2.8rem;
  fill: #4267b2;
}

.instagram {
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.youtube {
  fill: crimson;
}

.social li a:hover {
  transform: translateY(-5px);
}

.footer .webcreativa {
  width: 18rem;
  height: auto;
  padding-left: 1.5rem;
}

.footer .webcreativa img {
  width: 100%;
}

.icon-whatsapp,
.icon-mail,
.icon-map {
  font-size: 1.6rem;
}

.icon-whatsapp {
  color: #00bb2d;
}

.icon-mail {
  fill: #97cb8b;
}

.icon-map {
  color: var(--color-bgc-principal);
}

.contacto ul li a:hover .icon-map {
  color: var(--color-bgc-secundario);
}

.icon-fon {
  color: var(--color-bgc-principal);
}

.contacto ul li a:hover .icon-fon {
  color: var(--color-bgc-secundario);
}

/* ******************* */
/* Footer contacto */
/* ******************* */
.footer_logo {
  width: 30%;
  height: 100%;
  display: flex;
  margin: auto;
}

.footer_logo img {
  width: 100%;
  filter: brightness(40%);
}

/* ******************* */
/* Footer aviso privacidad */
/* ******************* */
footer .copi {
  width: 100vw;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
  background-color: var(--color-bgc-principal);
  background: url(/img/conchas.png) var(--color-bgc-principal);
  background-repeat: repeat;
  background-size: 460px;
  background-blend-mode: multiply;
  color: var(--color-bgc-secundario);
}

/* ******************* */
/* Slider de la galería */
/* ******************* */

.container-slider {
  width: 80%;
  max-width: 900px;
  overflow: hidden;
  position: relative;

  margin: auto;
}

/* archivo slider.js */
.slider {
  display: flex;
  width: 2700%;
  height: 520px;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;

  object-fit: cover;
  cursor: pointer;
}

.slider__btn {
  position: absolute;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.562);
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
}

.btn-span {
  color: #f2f2f2;
}

.slider__btn:hover {
  background-color: #232526;
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}

/* contenedor__avance-obra */
.contenedor__avance-obra {
  max-width: 130rem;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1.5rem;
}

.avance__obra {
  width: 33%;
}

/* Carrusel Obra */
.carrusel__obra {
  position: relative;
  max-height: 26rem;
  display: flex;
  overflow: hidden;
}

.carrusel {
  display: flex;
  transition: all 0.5s ease;
}

.carruno,
.carrdos,
.carrtres {
  width: 100%;
}

.obrauno,
.obrados,
.obratres {
  position: relative;
  display: flex;
  width: 342.66px;
  border-radius: 4px;
}

.obrauno,
.obrados,
.obratres img {
  min-width: 100%;
  width: inherit;
  height: auto;
  object-fit: cover;
}
